<div class='column' >
<div class='card'>
<div class= 'card-content'>
<p class='title'>
  <%= @character.first_name + ' ' + @character.last_name %>
</p>
<br/>
<p>Player: <%=link_to @character.player.name,player_path(@character.player)%></p>
<p>Campaign: <%=link_to @character.campaign.name,campaign_path(@character.campaign)%></p>
<p>Level: <%= @character.level%></p>
</div>
<footer class='card-footer'>
<p class='card-footer-item'>Class: <%=@character.character_class%></p>
<p class='card-footer-item'>Race: <%=@character.race%></p>
<p class='card-footer-item'>Health: <%=@character.health%></p>
<p class='card-footer-item'>Damage: <%=@character.damage%></p>
</footer>
</div>
</div>
